.sidebar {
  height: 553px;
  background-color: #f6f8fc;
}
.wrapper {
  display: flex;
  margin-top: 64px;
}
.container {
  display: flex;
  flex-grow: 1;
  height: 553px;
  background-color: #f6f8fc;
}
